DOANDEMO/Web References/vn.dongnai.hotich/LienThongMotCuaWs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendHoSoMotCua">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonValue" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="accountName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendHoSoMotCuaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendHoSoMotCuaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendHoSoMotCuaSoapIn">
    <wsdl:part name="parameters" element="tns:SendHoSoMotCua" />
  </wsdl:message>
  <wsdl:message name="SendHoSoMotCuaSoapOut">
    <wsdl:part name="parameters" element="tns:SendHoSoMotCuaResponse" />
  </wsdl:message>
  <wsdl:portType name="LienThongMotCuaWSSoap">
    <wsdl:operation name="SendHoSoMotCua">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gửi hồ sơ một cửa vào hệ thống quản lý Hộ Tịch</wsdl:documentation>
      <wsdl:input message="tns:SendHoSoMotCuaSoapIn" />
      <wsdl:output message="tns:SendHoSoMotCuaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LienThongMotCuaWSSoap" type="tns:LienThongMotCuaWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendHoSoMotCua">
      <soap:operation soapAction="http://tempuri.org/SendHoSoMotCua" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LienThongMotCuaWSSoap12" type="tns:LienThongMotCuaWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendHoSoMotCua">
      <soap12:operation soapAction="http://tempuri.org/SendHoSoMotCua" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LienThongMotCuaWS">
    <wsdl:port name="LienThongMotCuaWSSoap" binding="tns:LienThongMotCuaWSSoap">
      <soap:address location="http://hotich.dongnai.vn/WebService/LienThongMotCuaWs.asmx" />
    </wsdl:port>
    <wsdl:port name="LienThongMotCuaWSSoap12" binding="tns:LienThongMotCuaWSSoap12">
      <soap12:address location="http://hotich.dongnai.vn/WebService/LienThongMotCuaWs.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>